<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Angular App</title>
    <script
  src="http://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body ng-app="myApp">

  <div ng-controller="firstCtrl">

    <input class="form-control"
            ng-model="myName">

    <button type="button"
            name="button"
            class="btn btn-danger"
            ng-click="logChanges(myName)">Get Name</button>

    <h1>{{myName}}</h1>

    <ul>
      <li ng-repeat="dog in nameArr">{{dog}}</li>
    </ul>

  </div>


  <script src="app.js"></script>
  </body>
</html>
